{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user %}
        <h1>Welcome {{app.user.username}}</h1>
    {% else %}
        <h1>Welcome, log in to see more!</h1>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        You are an admin.<br/>
    {% endif %}
    
    {% if is_granted('ROLE_USER') %}
        You are a regular user.<br/>
    {% endif %}

{% endblock %}
