{% extends 'base.html.twig' %}

{% block title %} Lanzarote Fit > User Login {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
        <br/>
        <h2>User Login</h2>

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">
            <label for="username">Username:</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Password:</label>
            <input class="form-control" type="password" id="password" name="_password" />

            <div class="pt-3">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>

        </div>
    </div>
{% endblock %}
